<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .boxs a{
            padding: 20px 40px;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div id="boxs">
        <ul class="boxs">
            <li v-for="(v,i) in baseData" :key="v.id">
                <h1 v-text="v.title"></h1>
                <div>
                    <a v-for="(v0,i0) in v.childrens" :href="v0.url" v-text="v0.title"></a>  
                </div>           
            </li>             
        </ul>    
    </div>    
</body>
<script src="../js/lib/vue.js"></script>
<script>
var vm = new Vue({
    el:'#boxs',
    data:{
        baseData :[
            {id:'2019_1',title:'2019年1月',childrens:[
                {id:'2019_1_7',title:'2019-1-7 three.js基础',url:'./2019_1/2019_1_7.html'},
                {id:'2019_1_9',title:'2019-1-9 three.js抽奖',url:'./2019_1/2019_1_9.html'},
                {id:'2019_1_15',title:'2019-1-15 路',url:'./2019_1/2019_1_15.html'},
            ]},
            {id:'2019_2',title:'2019年2月',childrens:[
                {id:'2019_2_13',title:'2019-2-13 three.js凹凸贴图',url:'./2019_2/2019_2_13.html'},   
                {id:'2019_2_14',title:'2019-2-14 three.js粒子动画',url:'./2019_2/2019_2_14.html'}, 
                {id:'3d地图',title:'高德 3d地图',url:'./2019_2/3d地图.html'},     
                {id:'2019_2_22',title:'粒子 图像',url:'./2019_2/2019_2_22.html'},   
                {id:'2019_2_28',title:'波浪',url:'./2019_2/ware.html'},   
            ]},
            {id:'2019_3',title:'2019年3月',childrens:[
                {id:'新疆地图',title:'新疆地图',url:'./2019_3/新疆地图.html'},   
                {id:'GPU渲染',title:'GPU渲染',url:'./2019_3/GPU渲染.html'}, 
                {id:'2019_3_18',title:'快速排序',url:'./2019_3/2019_3_18.html'},   
                {id:'2019_3_19',title:'3d生成器',url:'./2019_3/2019_3_19.html'},   
            ]},
            {id:'2019_4',title:'2019年4月',childrens:[
                {id:'2019_4_3',title:'css某些样式',url:'./2019_4/2019_4_3(某些css样式).html'},  
                {id:'2019_4_10',title:'天空盒场景切换',url:'./2019_4/天空盒.html'},    
                {id:'2019_4_10_2',title:'天空盒',url:'./2019_4/天空盒base.html'}, 
                {id:'2019_4_13',title:'多行省略（完美方案）',url:'./2019_4/多行省略.html'}, 
            ]},
            {id:'2021_10',title:'2021年10月',childrens:[
                {id:'2021_10_20',title:'厂房',url:'./2021_10/house.html'}, 
            ]},
            {id:'2022_1',title:'2022年1月',childrens:[
                {id:'2022_1_24',title:'螺旋数组',url:'./2022_1/螺旋数组.html'}, 
            ]},
        ]
    },
    methods:{

    },
    created:function(){

    }
})

</script>
</html>